body {
    max-width: 100%;
    overflow-x: hidden;
    position:relative;
    margin: 0;
}

.top-footer{
  background-color: #00454c;
  padding-top: 8px;
}

.footer{
    background-color: #00565f;
}


#footer{
    background-color: #00565f;
}

#logo1{
    width: 90px;
    height: 32px;
}

#logo2{
    width: 32px;
    height: 32px;
}

#logo3{
    width:40px;
    height: 29px;
}

#imagemProdutos{
  width:175px;
  height: 175px;
  margin: auto;
  display: block;
}

#imagemProdutos2{
  width:190px;
  height: 190px;
  margin: auto;
  display: block;
}

p span {
  display: block;
  text-align: center;
}

.text-reset{
   color: white;
}

.titulo{
  text-align:center;
  font-weight: bold;
}

.titulosMoveis{
  font-size:30px;
  color:black;
  text-decoration:none;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video-container-top {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  padding-top: 420px;
  z-index: 1;
}

.btnVideo {
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: medium;
  margin-left: 30px;
  background-color: white;
  border: 0;
  border-radius: 8px;
  height: 40px;
  color: black;
  padding-right: 15px;
  transition-duration: 0.2s;
}


#imgFooter {
  height:135px;
  width: 100%;
}

#containerFooter {
  position: relative;    
}

#example {
 background-color: white;
 text-align:center;
 position: absolute;
 top: 8%;
 bottom: 8%; 
 left: 0.5%;
 right:0.5%;
  
 padding: 5px;
 background-color: white;
}

.header1 {
  position: absolute;
  background-color: #025353;
  top: 0;
  padding-bottom: 15px;
}

.header1.other {
  position: absolute;
  background-color: #F6F7F9;
  top: 0;
  padding-bottom: 15px;
}

.rw-words{
	display: inline;
  margin-right: 130px;
}

.rw-words-1 span{
	position: absolute;
  top: 2px;
	opacity: 0;
	overflow: hidden;
	color: white;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: white;
}

.rw-words-1.other span{
	position: absolute;
  top: 2px;
	opacity: 0;
	overflow: hidden;
	color: black;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}

.rw-words-1.other span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: black;
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(-30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.header2 {
  position: absolute;
  top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #008080;
}

.header2.other {
  position: absolute;
  top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  box-shadow: 0 0,0 -1px #cccccc inset, 0 0, 0 0;
}

.headerLogo { 
  margin-left: 20px;
}

.search-bar {
  text-align: left;
  text-indent: 10px;
  font-size: large;
  margin-left: 30px;
  background-color: #085255;
  border: 0;
  border-radius: 50px;
  width: 95%;
  height: 45px;
  color: white;
}

.search-bar:hover {
  background-color: #074a4d;
}

.search-bar.other {
  text-align: left;
  text-indent: 10px;
  font-size: large;
  margin-left: 30px;
  background-color: #F6F7F9;
  border: 0;
  border-radius: 50px;
  width: 95%;
  height: 45px;
  color: black;
}

.search-bar.other:hover {
  background-color: #e4e7ec;
}

.btnLogin {
  text-align: left;
  text-indent: 8px;
  font-size: large;
  background-color: #008080;
  border: 0;
  border-radius: 50px;
  width: 50%;
  height: 45px;
  color: white;
  transition-duration: 0.4s;
}

.btnLogin:hover {
  background-color: #085255;
}

.btnLogin.other {
  text-align: left;
  text-indent: 8px;
  font-size: large;
  background-color: white;
  border: 0;
  border-radius: 50px;
  width: 50%;
  height: 45px;
  color: black;
  transition-duration: 0.4s;
}

.btnLogin.other:hover {
  background-color: #F6F7F9;
}

.btnFavCart {
  text-align: center;
  font-size: large;
  background-color: #008080;
  border: 0;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  color: white;
  margin-left: 20px;
  transition-duration: 0.4s;
}

.btnFavCart:hover {
  background-color: #085255;
}

.btnFavCart.other {
  text-align: center;
  font-size: large;
  background-color: white;
  border: 0;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  color: black;
  margin-left: 20px;
  transition-duration: 0.4s;
}

.btnFavCart.other:hover {
  background-color: #F6F7F9;
}

.btnMenu {
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: medium;
  margin-left: 30px;
  background-color: white;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: black;
  padding-right: 15px;
  transition-duration: 0.2s;
}

.btnMenu.other {
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: medium;
  margin-left: 30px;
  background-color: black;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: white;
  padding-right: 15px;
  transition-duration: 0.2s;
}

.btnMenu:hover {
  background-image: linear-gradient(#ff3f51, #ff6522);
  color: white;
}

.btnCategories {
  text-align: left;
  font-weight: bold;
  font-size: medium;
  background-color: #008080;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.btnCategories:hover {
  background-color: #085255;
}

.btnCategories {
  text-align: left;
  font-weight: bold;
  font-size: medium;
  background-color: white;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
}

.btnCategories:hover {
  background-color: #F6F7F9;
}

.btnBusiness {
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: medium;
  margin-left: 30px;
  background-color: #1A8D8D;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: white;
  padding-right: 15px;
}

.btnBusiness.other {
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: medium;
  margin-left: 30px;
  background-color: #F6F7F9;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: black;
  padding-right: 15px;
}

.btnBusiness:hover {
  background-image: linear-gradient(#ff3f51, #ff6522);
  color: white;
}

.novosDescontos {
  position: relative;
  width: 100%;
  top: 160px;
  z-index: 1;
}

#navbarTop {
  position: fixed;
  overflow: hidden;
  top: -50;
  transition-duration: 0.1s;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: white;
  box-shadow: 0 0,0 -1px #cccccc inset, 0 0, 0 0;
}

.topLogo {
  margin-left: 30px;
  padding: 15px;
}

.btnMenu.top{
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  font-size: medium;
  margin-left: 30px;
  background-color: black;
  border: 0;
  border-radius: 50px;
  height: 40px;
  color: white;
  padding-right: 15px;
  transition-duration: 0.2s;
  margin-top: 30px;
}

.search-bar.top {
  text-align: left;
  text-indent: 10px;
  font-size: medium;
  background-color: #F6F7F9;
  border: 0;
  border-radius: 50px;
  width: 95%;
  height: 45px;
  color: black;
  transition-duration: 0.3s;
  margin-top: 30px;
}

.search-bar.top:hover {
  background-color: #e4e7ec;
}

.btnLoginFavCart {
  text-align: center;
  font-size: large;
  background-color: #F6F7F9;
  border: 0;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  color: black;
  margin-left: 10px;
  transition-duration: 0.4s;
  margin-top: 30px;
}

.btnLoginFavCart:hover {
  background-color: #e4e7ec;
}

.content {
  background-repeat: no-repeat;
  background-size: cover;
}

.content.img1 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Xmas-60-10-25-60-01dec/images/hpa1_bckg1.jpg');
  background-position: center top;
  padding-bottom: 50%;
}

.content.img2 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Xmas-60-15-25-60-13dec/images/hpa2_bckg.png');
  background-position: center bottom;
  background-color: #d4ab93;
  padding-bottom: 50%;
}

.content.img3 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Xmas-60-15-25-60-13dec/images/hpa3_bckg.jpg');
  background-position: center bottom;
  padding-bottom: 50%;
}

.content.img4 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Cyber-monday-60-15-25-60/images/hpa4_bckg_v2.jpg');
  background-position: center;
  padding-bottom: 50%;
}

.content.img5 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Xmas-60-15-25-60-13dec/images/hpa5_bckg.jpg');
  background-position: center;
  padding-bottom: 30%;
}

.content.img6 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Xmas-60-10-25-60-06dec/images/hpa6_bckg.jpg');
  background-position: center top;
  padding-bottom: 30%;
}

.content.img7 {
  background-image: url('https://cdn.laredoute.com/marketing/Studio/PT/AH22/PT_Xmas-60-15-25-60-13dec/images/hpa7_bckg.gif');
  background-position: center bottom;
  background-color: #f3bcb7;
  padding-bottom: 30%;
}

.inspi-background {
  width: 100%;
  height: 350px;
}

.inspi-content {
 position: absolute;
 top: 3%;
 bottom: 3%; 
 left: 0.5%;
 right:0.5%;
 padding: 5px;
 background-color: white;
}